@import url(reset.css);

:root {
	--background-color: #f2f2f2;
	--main-color: #000000;
	--sec-color-2: #4d4d4d;
	--sec-color-1: #4d3636;
	--sec-color-3: #999999;
}

body {
	background-color: var(--background-color);
	min-height: 100vh;
	font-family: "Montserrat", sans-serif;
}

.page-header__logo {
	margin: 2rem auto;
}

.navbar__list {
	display: flex;
	justify-content: space-evenly;
}

.navbar__links {
	padding: 2px;
	font-size: 1.2rem;
	font-weight: 700;
	background: linear-gradient(
		to bottom,
		var(--sec-color-1) 0%,
		var(--sec-color-1) 100%
	);
	background-position: 0 100%;
	background-repeat: repeat-x;
	background-size: 2px 2px;
	color: #000;
	text-decoration: none;
	transition: background-size 0.2s;
}

.navbar__links:hover {
	background-size: 5px 50px;
	color: var(--sec-color-3);
}

.page-content__hero {
	display: flex;
	justify-content: center;
	margin: 8rem 0 10rem 0;
}

.hero__caption {
	margin-left: 3rem;
	display: flex;
	text-align: center;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 3rem;
}

.hero__title {
	font-size: 1.5rem;
}

.hero__buttom {
	width: 40%;
	padding: 10px 18px;
	border: 1px solid var(--sec-color-1);
	background-color: var(--sec-color-1);
	color: var(--background-color);
}

.page-content__highlights {
	display: grid;
	justify-items: stretch;
	grid-template-columns: repeat(3, calc(100% / 3));
}

.page-footer {
	display: flex;
	margin: 10rem 0 4rem 0;
	justify-content: space-evenly;
	align-items: center;
}
